<div class="container">
        <h4>Explora el mundo</h4>
        <p>Actividades únicas con expertos locales, en persona o en línea.</p>
        <app-cards 
        [service]="plansList">
        </app-cards>
</div>
