<div class="container sticky-top">

<nav class="navbar navbar-expand-lg navbar-light  ">
    
      <div class="col-4 image">
        <i class="fab fa-airbnb">airbnb</i> 
    </div>  
      <div class="col-4 collapse navbar-collapse " id="navbarSupportedContent">        
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2 rounded-pill "type="search" placeholder="Empieza la busqueda" aria-label="Search"><i class="search fas fa-search"></i>          
          </form>
      </div>
      <div class="col-4">
          <li class="nav-">
             <a class="nav- " href="#">Hazte anfiltrión 
               <i class="g fas fa-globe"></i>
               <button class="btn btn-outline-light rounded-pill">
               <i class="a fas fa-equals"></i>
               <i class="a fas fa-user"></i></button>
              </a> 
         </li> 
      </div></nav>
    </div>




  