<div class="">
  <div class="row ">
    <div class="color col-2 ">       
    </div>
   <div class="image col-8">   
      <img src="../../../assets/images/airbnb.jpeg" class="img-fluid" alt="Responsive image">
   </div>
   <div class="color col-2 ">
   </div>
  </div>
   <div class="row ">
     <div class="titulo col-12 text-center text p-3 ">
        <p class="titulo">Los anfitriones lo hacen posible</p>
     </div>     
   </div>
</div> 
  
