/*Style for Footer*/ 
// .footer
.icon 
    font-size: 10px;
    height: 110px;
    width: 110px;
.text-dark
    font-size: 10px;
.fab
    font-size: 12px;
    color #000;
.icons
    position relative
    text-align: right ;