<footer class=" bg-light justify-content-center">
   <div class="container p-4"> 
    <div class="row  "> 
         <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
         <h5 class="text-uppercase">ACERCA DE</h5> 
        <ul class="list-unstyled mb-0">
         <li> 
        <a href="#!" class="text-dark">Cómo funciona Airbnb</a></li> 
        <li> <a href="#!" class="text-dark">Sala de prensa</a></li>
         <li> <a href="#!" class="text-dark">Inversionistas</a></li> 
        <li> <a href="#!" class="text-dark">Airbnb Plus</a> </li>
        <li> <a href="#!" class="text-dark">Airbnb Luxe</a> </li>
        <li> <a href="#!" class="text-dark">HotelTonight</a> </li> 
        <li> <a href="#!" class="text-dark">Airbnb for Work</a> </li>
        <li> <a href="#!" class="text-dark">Los anfitriones lo hacen posible.</a> </li>
        <li> <a href="#!" class="text-dark">Olimpiadas</a> </li>
        <li> <a href="#!" class="text-dark">Carreras</a> </li>        
        <li> <a href="#!" class="text-dark">Carta de los fundadores</a> </li>
         </ul> 
      </div> 
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
         <h5 class="text-uppercase mb-0">COMUNIDAD</h5> 
        <ul class="list-unstyled">
         <li> <a href="#!" class="text-dark">Diversidad e inclusión</a></li> 
        <li> <a href="#!" class="text-dark">Accesibilidad</a> </li>
         <li> <a href="#!" class="text-dark">Colaboradores de Airbnb</a> </li>
         <li> <a href="#!" class="text-dark">Alojamientos para Personal de Emergencia COVID-19</a> </li>
         <li> <a href="#!" class="text-dark">Invita a amigos</a> </li>
         <li> <a href="#!" class="text-dark">Airbnb.org</a> </li>
         </ul> 
        </div> 
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0"> 
        <h5 class="text-uppercase">ANFITRIÓN</h5> 
        <ul class="list-unstyled mb-0"> 
        <li> <a href="#!" class="text-dark">Recibe huéspedes en tu hogar</a></li> 
        <li> <a href="#!" class="text-dark">Ofrece una experiencia en línea</a></li> 
        <li> <a href="#!" class="text-dark">Organiza una experiencia</a></li>
        <li> <a href="#!" class="text-dark">Hospedaje responsable</a></li>
        <li> <a href="#!" class="text-dark">Centro de recursos</a></li>
        <li> <a href="#!" class="text-dark">Centro de la comunidad</a></li>
        </ul> 
        </div> 
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">ASISTENCIA</h5> 
        <ul class="list-unstyled"> 
        <li> <a href="#!" class="text-dark">Nuestra respuesta frente a la COVID-19</a></li> 
        <li> <a href="#!" class="text-dark">Centro de ayuda</a></li>
        <li> <a href="#!" class="text-dark">Opciones de cancelación</a></li> 
        <li> <a href="#!" class="text-dark">Asistencia al vecindario</a></li> 
        <li> <a href="#!" class="text-dark">Confianza y seguridad</a></li> 
        </ul> 
        </div>
    </div> 
    <div class="row">
      <div class="col-lg-8 col-md-6 mb-4 mb-md-0 text p-3  " > © 2021 Airbnb,
         <a class="text-dark" href="https://mdbootstrap.com/">Inc. All rights reserved · Privacidad · Términos · Mapa del sitio</a> 
         <a href="#"> </a>          
      </div>
      <div class="icons col-lg-4 col-md-6 mb-4 mb-md-0 text p-3 ">            
        <a class="fab " href="https://mdbootstrap.com/"> Español(CO) </a>
        <a class="fab " href="https://mdbootstrap.com/">$ COP</a>      
        <a class="fb-ic">
           <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
        </a>
        <a class="tw-ic ">
           <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x "></i>
         </a>
        <a class="ins-ic">
        <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
        </a>
      </div>
    </div> 
</div>
   </footer>
         