<div class="container card d-flex flex-row bd-highlight mb-3  " *ngFor="let item of service">        
        <div class="row card-body " >
          <div class="content-img ">
              <img src="{{item.image}}" alt="">
          </div>
          <div class=" content-text">
            <h5 class="card-title" >{{item.title}}</h5>
            <p> {{item.description}}</p>  
          </div>                  
        </div>
</div>



