<div class="container">
        <h4>Explora cerca de ti</h4>
        <div class="row">
        <div class="col-12 d-flex ">
        <app-cards 
           [service]="cityList" >
        </app-cards>
        </div>
        </div>
</div>
